#main-footer {
  margin-top: 10px;
  padding: 5px 5px; /* Reducido de 20px a 10px */
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-btn {
  width: 30px; /* Reducido de 40px a 32px */
  height: 30px; /* Reducido de 40px a 32px */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: opacity 0.3s ease;
}

.social-btn:hover {
  opacity: 0.8;
}

.social-btn i {
  color: white;
}

/* Colores específicos para cada red social */
.social-btn[aria-label="Facebook"] {
  background-color: #3b5998;
}

.social-btn[aria-label="Twitter"] {
  background-color: #55acee;
}

.social-btn[aria-label="Instagram"] {
  background-color: #ac2bac;
}

.social-btn[aria-label="LinkedIn"] {
  background-color: #0082ca;
}

.social-btn[aria-label="GitHub"] {
  background-color: #333333;
}

.footer-brand {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-logo {
  width: 35px; /* Añadido control de tamaño */
  height: 35px; /* Añadido control de tamaño */
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid rgb(141, 133, 133); /* Reducido el borde de 2px a 1px */
}

.copyright {
  font-size: 0.8rem; /* Reducido de 0.9rem a 0.8rem */
  margin: 0; /* Añadido para eliminar margen extra */
}

.copyright a {
  text-decoration: none;
  font-weight: bold;
  margin-left: 5px;
}

.copyright a:hover {
  text-decoration: underline;
}
